
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(202, 214, 224);
}

.items-section{
   margin: 10px;
}

.item{
    background-color: white;
    width: calc(100%/3);
    height: 480px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.header{
    height: 230px;
    background-image: url("./photos/img.jpg");
    border: 1px solid transparent;
  border-radius: 5px;

}
.section-divider{
    border-top: 1px solid gainsboro;
    width: 100%;
    
}


.main{
    padding: 21px;
    height: 200px;
}

.item h1{
    font-size: 21px;
    font-family:'arial' ;
    color: rgb(34, 33, 33);
    margin-bottom: 4px;
    padding: 21px;
}

.main p{

    font-size: 15px;
    font-family:'arial' ;
    color: rgb(76, 74, 74);
    margin-bottom: 18px;
    line-height: 21px;
}

.footer{
    margin-top: 14px;
}