
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    padding: 70px;
    background-color: skyblue;
    border: 5px solid black;
}


.main{
    width: 60%;
    padding: 220px;
    float: left;
}
.clear{
    clear: both;
}

footer{
    background-color: pink;
    border: 5px solid black;
    padding: 35px;
}

@media (max-width: 768px) {
    .main {
        width: 100%;
        
    }
}