* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 65px;
    background-color: skyblue;
    border: 5px solid black;
}

.mainWrapper {
    margin: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.box {
    padding: 10px;
    background-color: #A0522D;
    border: 5px solid black;
}

.box-vertical {
    padding: 10px;
    background-color: gray;
    border: 5px solid black;
}

.sidebar {
    background-color: yellow;
    height: 475px;
    border: 5px solid black;
}

footer {
    background-color: pink;
    border: 5px solid black;
    padding: 20px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .mainWrapper {
        grid-template-columns: 100%;
    }

    .main {
        grid-template-columns: 100%;
    }

    .sidebar {
        grid-row: 1;
    }
}