
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
  
    margin-left: 480px;
    margin-top: 50px;
   
}
.form-container {
    width: 600px;
    height: 550px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.text-header{

    padding: 35px;
}

.text-header div{
    margin-bottom: 10px;
    font-size: 19px;
    color: #49698b;
    font-weight: 20px;
}

form{
    padding: 30px;
}



.eye-icon{
    position: absolute; 
    right: 10px;
     top: 50%; transform: translateY(-50%);
      cursor: pointer;
      
}

label{
    display: flex;
    justify-self: left;
    margin-bottom: 5px;
}

label .password{

    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
label span{
    margin-left: 290px;
    text-decoration: none;
    color: rgb(172, 169, 169);
}

input {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
   border: 1px solid gainsboro;
   border-radius: 5px;

}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #2E9F90;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icons{

    margin-top: 20px;
    font-size: 12px;
}
.icons i{
    margin-left: 6px;
}

.signup{

    margin-top: 25px;
    margin-left: 170px;
}